<form class="roll-card">
  <div class="card-title">{{cardTitle}}</div>
  <div class="roll-result">
    {{#if outcomeText}}
    <div class="outcome-row">
      <span>{{outcomeText}}</span>
    </div>
    {{/if}}
  </div>
</form>